--- 
- name: Add management vrf
  nclu:
    commands:
      - add vrf mgmt
    commit: true
- name: Stop/Disable ntp on default vrf
  systemd:
    state: stopped
    enabled: no
    name: ntp.service
- name: Start/Enable ntp on mgmt vrf
  systemd:
    state: started
    enabled: yes
    name: ntp@mgmt
- name: Stop/Disable snmpd on default vrf
  systemd:
    state: stopped
    enabled: no
    name: snmpd.service
- name: Start/Enable snmpd on mgmt vrf
  systemd:
    state: started
    enabled: yes
    name: snmpd@mgmt
